{% extends "base.html" %}
{% block title %}
Записать на курс
{% endblock %}
{% block style %}
{% include "incl_style.html" %}
{% endblock %}
{% block menu %}
{% include "incl_menu.html" %}
{% endblock %}
{% block body %}
<div>
    <li>
        <a href="/learner-list/">Назад</a>
    </li>
    <li>
        <a href="/create-learner/">Создать ученика</a>
    </li>
</div>
<h1 class="second_heading">Запись ученика на курс</h1>
<div class="cu_main_content cu_message">
    <form method="post">
        <select class="inputs" style="width: 200px" size="3" name="course_name">
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select class="inputs" style="width: 200px" size="3" name="student_name">
            {% for item in students %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button class="snd_btn" type="submit">Записать</button>
    </form>
</div>
{% endblock %}