{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
{% include "incl_style.html" %}
{% endblock %}
{% block body %}
<a href="/">назад</a>

<h4 class="fourth_heading send_msg_head">Создание категории</h4>
<div class="cu_main_content cu_message">
    <form method="post">
        <input class="inputs" type="text" name="name" placeholder="Название">
        <button class="snd_btn" type="submit">Сохранить и вернуться на главную</button>
    </form>
</div>
{% endblock %}