<div class="outer_footer">
    <div class="inner_footer1">
        <div class="interested">
            <h3 class="third_heading footer_header">Заинтересовались нашими овощами?</h3>
            <p class="paragraph footer_text">Мы будем рады, если вы свяжитесь с нами любым удобным способом.</p>
        </div>
        <a href="bootstrap.html" class="talk_button">Let’s Talk</a>
    </div>
    <hr class="footer_divider">
    <div class="inner_footer2">
        <ul class="contact_list">
            <li>
                <div class="contact__letter">A.</div>
                <div class="contact__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            </li>
            <li>
                <div class="contact__letter">T.</div>
                <div class="contact__item">+7(981) 123-45-23</div>
            </li>
            <li>
                <div class="contact__letter">E.</div>
                <div class="contact__item">example@mail.com</div>
            </li>
        </ul>
        <div>
            <p class="paragraph all_right">Все права защищены</p>
        </div>
    </div>
</div>