{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}
{% block style %}
{% include "incl_style.html" %}
{% endblock %}
{% block menu %}
{% include "incl_menu.html" %}
{% endblock %}
{% block body %}
<div>
    <h1 class="second_heading">Список существующих категорий</h1>
    {% for item in objects_list %}
    <li class="third_heading" style="text-align: left;">
        {{item.name}} <span class="paragraph under_h1_text">Количество курсов: {{item.course_count()}}</span>
        <a href="/courses-list/?id={{item.id}}" class="paragraph">Показать курсы</a>
    </li>
    {% endfor %}
    <a href="/create-category/" class="fourth_heading">Создать новую категорию</a>

</div>

{% endblock %}